p{
    color: brown;
}
body{
    padding: 0px;
    margin: 0px;


}
.main{
     width: 50%;
    margin: 0px auto;
    text-align: center;
}
input{
width: 60%;
}

#all-comments p{
    width: 100%;
    font-size: large;

}